.in-table-select {
    max-width: 99%;
}

.pt-3-half {
    padding-top: 1.4rem;
}

.pad-left {
    padding-left: 1.4rem;
}

.text-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

.column {
	margin: 10px 0px;
}