<!DOCTYPE html>
<html>

<head>
  <title>Column details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/viz.css">
  </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand" href="#">StratView</div>
    <div class="navbar-nav" id="nav-item-container">
      <!-- navbar items are inserted here -->
    </div>
  </nav>
  <div class="container-fluid">
      <h4 class="my-3" id="column_name"></h5>
      <div class="card mt-10 mx-10 col-12">
          <div class="card-body">
      <div class="row">
      <div class="col-3">
      <svg class="chart"></svg></div>
      <div class="col-9">
      <div class="chem"></div></div></div>
    </div></div>
  </div>
</body>
<!-- For bootstrap-select (multiselect w/ search) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<!-- For D3 -->
<script src="//d3js.org/d3.v3.min.js"></script>
<!-- For D3 tooltips -->
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<!-- Local scripts -->
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/column.js"></script>

</html>