<!DOCTYPE html>
<html>

<head>
  <title>New</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand" href="#">StratView</div>
    <div class="navbar-nav" id="nav-item-container">
      <!-- navbar items are inserted here -->
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row text-input" id="column-input">
      <div class="col-6">
      <input id="column-name" type="text" placeholder="Column name" class="form-control"></input></div>
      <div class="col-6">
      <input id="formation-name" type="text" placeholder="Formation" class="form-control"></input></div>
    </div>
    <div class="row text-input">
      <div class="col-12" rows="3">
        <textarea id="description" type="text" rows="3" placeholder="Description" class="form-control"></textarea>
      </div>
    </div>
    <div class="row"><div class="col-12">
    <button class="btn btn-outline-primary text-input" id="show-lith" type="button" data-toggle="collapse" data-target="#lith-collapse" aria-expanded="false" aria-controls="lith-collapse">
        Show lithologies
      </button></div></div>
      <div class="collapse" id="lith-collapse">
    <div class="row text-input" >
      <div class="col-12">
      <ul class="list-group" id="lithologies">
        <li class="list-group-item">
          <div class="row">
          <div class="col-9">
          <input id="lith-input" type="text" placeholder="New lithology" class="form-control"></input>
          </div>
          <div class="col-3">
          <button class="btn btn-outline-secondary btn-block" id="add-lith">Add lithology</button>
        </div></div>
        </li>
      </ul>
    </div>
    </div>
  </div>
    <!-- table modeled off https://mdbootstrap.com/docs/jquery/tables/editable/#! -->
    <!-- Editable table -->
    <div class="row"><div class="col-12">
    <button class="btn btn-outline-primary text-input" id="show-beds" type="button" data-toggle="collapse" data-target="#data-collapse" aria-expanded="false" aria-controls="data-collapse">
      Show beds
    </button></div></div>
    <div class="collapse" id="data-collapse">
      <div class="row">
        <div class="col-12">
          <div id="table" class="table-editable text-input">
            <table class="table table-bordered table-responsive-md text-center">
              <thead class="thead-light">
              <tr class="d-flex">
                <th class="text-center col-2">Bed start</th>
                <th class="text-center col-2">Bed end</th>
                <th class="text-center col-2">Grain size</th>
                <th class="text-center col-3">Features</th>
                <th class="text-center col-2">Lithology</th>
                <th class="text-center col-1"><em class="fas fa-trash-alt"></em></th>
              </tr></thead>
              <!-- This is our clonable table line -->
              <tr class="hide d-none">
                <td class="col-2" contenteditable="false">
                  <input class="form-control number" type="number"></input>
                </td>
                <td class="col-2 " contenteditable="false">
                  <input class="form-control number" type="number"></input>
                </td>
                <td class="col-2 grain" contenteditable="false">
                  <select class="in-table-select grain-select" data-live-search=true data-size=3></select>
                </td>
                <td class="col-3 feature" contenteditable="false">
                  <select class="in-table-select feature-select" data-width=100% multiple data-live-search=true data-size=3></select>
                </td>
                <td class="col-2 lithology" contenteditable="false">
                    <select class="in-table-select lith-select" data-live-search=true multiple data-max-options=1 data-size=3>

                    </select>
                </td>
                <td class="col-1">
                  <button type="button" class="table-remove btn btn-outline-danger btn-sm my-0"><em class="fas fa-trash-alt"></em></button>
                </td>
              </tr>
            </table>
            <span class="table-add float-right mb-3">
              <button class="btn btn-outline-secondary" id="add-row">Add bed</button>
            </span>
        </div>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="col-12">
  <button class="btn btn-outline-primary text-input" id="show-chem" type="button" data-toggle="collapse" data-target="#chem-collapse" aria-expanded="false" aria-controls="chem-collapse">
      Show chemical data
  </button></div>  </div>
  <div class="collapse" id="chem-collapse">
    <div class="row pt-3-half">
      <div class="col-12">
      <select id="chem-select" title="Chemical data type" class="selectpicker"></select>
      <button class="btn btn-outline-secondary" disabled id="chem-add">Add chemical data</button>
    </div>
  </div>
  <div id="chem-dats">
</div>
  </div> 
    <span class="float-right pt-3-half">
        <button class="btn btn-primary mb-3" id="export">Export as csv (not implemented)</button>
      <button class="btn btn-primary mb-3" id="save-col">Save column</button>
    </span>
  </div>
</body>
<!-- For bootstrap-select (multiselect w/ search) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<!-- Local scripts -->
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/new.js"></script>

</html>