<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand" href="#">StratView</div>
    <div class="navbar-nav" id="nav-item-container">
      <!-- navbar items are inserted here -->
    </div>
  </nav>
  <div class="container-fluid">
    <h4 class="text-center font-weight-bold text-uppercase py-4">New Column</h4>
    <div class="row text-input" id="column-input">
      <div class="col-6">
      <input id="column-name" type="text" placeholder="Column name" class="form-control"></input></div>
      <div class="col-6">
      <input id="formation-name" type="text" placeholder="Formation" class="form-control"></input></div>
    </div>
    <div class="row text-input">
      <div class="col-12" rows="3">
        <textarea id="description" type="text" rows="3" placeholder="Description" class="form-control"></textarea>
      </div>
    </div>
    <!-- table modeled off https://mdbootstrap.com/docs/jquery/tables/editable/#! -->
    <!-- Editable table -->
    <div class="card scroll">
      <h5 class="card-header text-center font-weight-bold text-uppercase py-4">Beds</h5>
        <div class="card-body">
          <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <tr class="d-flex">
                <th class="text-center col-2">Bed start</th>
                <th class="text-center col-2">Bed end</th>
                <th class="text-center col-3">Grain size</th>
                <th class="text-center col-3">Features</th>
                <th class="text-center col-2">Remove</th>
              </tr>
              <!-- This is our clonable table line -->
              <tr class="hide d-none">
                <td class="pt-3-half col-2" contenteditable="true">0.0</td>
                <td class="pt-3-half col-2" contenteditable="true">0.0</td>
                <td class="pt-3-half col-3 grain" contenteditable="true">
                  <select class="in-table-select grain-select"></select>
                </td>
                <td class="pt-3-half col-3 feature" contenteditable="true">
                  <select class="in-table-select feature-select" multiple></select>
                </td>
                <td class="col-2">
                  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
              </tr>
            </table>
            <span class="table-add float-right mb-3 mr-2">
              <button class="btn btn-outline-primary" id="add-row">Add bed</button>
            </span>
          </div>
        </div>
    </div>
  </div>
</body>
<!-- For bootstrap-select (multiselect w/ search) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<!-- Local scripts -->
<script src="/static/js/api.js"></script>
<script src="/static/js/new.js"></script>

</html>