<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand" href="#">StratView</div>
    <div class="navbar-nav" id="nav-item-container">
      <!-- navbar items are inserted here -->
    </div>
  </nav>
  <div class="container-fluid">
      <div class="row pt-3-half">
        <div class="col-12">
          <select class="selectpicker" data-width="100%" id="search-select" title="Search for columns with..."
            data-live-search="true" multiple>
            <optgroup label="Feature" id="feature-opt"></optgroup>
            <optgroup label="Grain Size" id="grain-opt"></optgroup>
          </select>
        </div>
      </div>
      <div class="row"> <div class="col-12">
      <div class="float-right pt-3-half">
        <button class="btn btn-outline-primary" id="go-search">Search</button>
      </div>
    </div></div>
    <div id="search-results"></div>
  </div>
</body>
<!-- For bootstrap-select (multiselect w/ search) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<!-- Local scripts -->
<script src="/static/js/api.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/column_util.js"></script>
<script src="/static/js/search.js"></script>

</html>